.Todo{
  border: 1px solid dodgerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Todo-text {
  border: 1px solid cyan;
  text-align: left;
}

.Todo-done {
  margin-left: 10px;
  border: 1px solid cyan;
}